<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crop yield</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.css" />
  <style>
    /* Styles for the popup */
    #popup-card {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 1000;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary py-3" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Crop yield predictor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto d-flex">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-3" id="content">
    <h4 class="my-0">Enter required details here</h4>
    <form action="/predict" method="post">
      <div class="form-group">
        <label class="form-label mt-2 mb-0" for="Year">Year</label>
        <input type="number" class="form-control" name="Year" step="any" value="2013" required />
      </div>
      <div class="form-group">
        <label class="form-label mt-2 mb-0" for="avg_rain">Average rainfall (mm per year)</label>
        <input type="number" class="form-control" name="avg_rain" step="any" />
      </div>
      <div class="form-group">
        <label class="form-label mt-2 mb-0" for="fertlizer">Fertilizer (kg)</label>
        <input type="number" class="form-control" name="fertlizer" step="any" />
      </div>
      <div class="form-group">
        <label class="form-label mt-2 mb-0" for="avg_temp">Average temperature (°C)</label>
        <input type="number" class="form-control" name="avg_temp" step="any" />
      </div>
      <div class="form-group">
        <label class="form-label mt-2 mb-0" for="Item">Crop name</label>
        <select class="form-select" name="Item" id="Item">
          {% for crop in crops %}
          <option value="{{ crop }}">{{crop}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary my-3 px-5">Predict</button>
    </form>
  </div>
  {% if prediction %}
  <div id="popup-card" class="p-6 w-50">
    <div class="d-flex align-items-center">
      <p class="px-3">Predicted Yield:</p>
      <p id="result" class="lead">
        {{prediction[0][0]}} hg/ha
      </p>
    </div>
    <div class="container text-end">
      <button type="button" class="btn btn-success" onclick="copyText()">Copy</button>
      <button type="button" class="btn btn-danger" onclick="closePopup()">Close</button>
    </div>
  </div>
  {% endif %}

  <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  {% if prediction %}
  <script>
    // Function to open the popup
    function openPopup() {
      document.getElementById("popup-card").style.display = "block";
      document.getElementById("content").style.opacity = "0.6";
    }

    // Function to close the popup
    function closePopup() {
      document.getElementById("popup-card").style.display = "none";
      document.getElementById("content").style.opacity = "1";
    }

    function copyText() {
      const text = document.getElementById("result");
      navigator.clipboard.writeText(text.innerHTML);
    }

    openPopup();
  </script>
  {% endif %}
</body>

</html>